{% extends 'base/prof/header.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Your Courses</h1>
    <p class="mb-4">For create more courses you can go to Dashboard and<a target="_blank"
            href="{% url 'dashboardprof' %}"> Get started !</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Titre</th>
                            <th>Categorie</th>
                            <th>duration</th>
                            <th>Start date</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Course</th>
                            <th>Titre</th>
                            <th>Categorie</th>
                            <th>duration</th>
                            <th>Start date</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if not cours %} <tr> <td>No Courses</td></tr> {% else %}
                        {% for cr in cours %}
                        <tr>
                            <td><img src="{{cr.cover.url}}" width=140 alt="" srcset=""></td>
                            <td>{{cr.titre}}</td>
                            <td>{{cr.categorie}}</td>
                            <td>{{cr.duration}}hrs</td>
                            <td>{{cr.datecreation}}</td>
                            {% if cr.prix %}
                            <td><script>document.write(parseFloat({{cr.prix}}*10))</script> DH</td>
                            {% else %}
                            <td>FREE</td>
                            {% endif %}
                            <td><center><a href="{% url 'editcourse' cr.id %}"><i class="fa-regular fa-pen-to-square"></i></a> - <a href="{% url 'deletecourse' cr.id %}"><i class="fa-solid fa-trash"></i></a></center></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}