{% extends 'base/prof/header.html' %}
{% block content %}

{% load static %}
{% include 'base/coursesHeader.html' %}


<div class="row">

    <!-- Content Column -->
    <div class="col-lg-11 mb-4 m-5">

        
            <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-body justify-content-center">
                <center>
                <div class="w-100 mb-3">
                <h1 class="display-3 text-dark animated slideInDown fs-4"><i class="fa-solid fa-triangle-exclamation"></i> <br> Are you sure to delete <br> '{{cr}}' course ?</h1>
                </div>
                <div class="d-flex text-center justify-content-center">
            <form method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                <button type="submit" class="btn btn-danger mr-3">Delete</button>
            </form>
               <a href="{% url 'dashboardcourses' %}"><button class="btn btn-info">Cancel</button></a>
            </div>
            </center>
            </div>
        </div>
    
        <!-- Color System -->
        

        </div>
</div>

{% endblock content %}