{% extends 'base/prof/header.html' %}
{% block content %}

{% load static %}
{% include 'base/coursesHeader.html' %}

<div class="text-center">
    <img class="img-fluid px-3 px-sm-4 mt-3" style="width: 20rem;"
    src="{{cours.cover.url}}" width=100 alt="...">

</div>
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-11 mb-4 m-5">

        <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-body d-flex justify-content-center">
               <div class="col-6 position-relative mt-3">
                
                    <p class="display-3 text-dark animated slideInUp fs-6">Quality video lectures can set your course apart. Use our resources to learn the basics.</p>
                    <a class="" target="_blank" rel="nofollow" href="https://community.udemy.com/t5/Instructor-Community/ct-p/Community">Get Started &rarr;</a>
                 
                    <div class="mb-3 mt-3 w-75">
                        <input type="text" placeholder="Title of your course .." class="form-control" name="titre" value="{{cours.titre}}">
                    </div>
                    <div class="mb-4 w-75">
                        <textarea name="description"  rows="6" oninput="this.className = ''" cols="44" placeholder="describe your course" style="padding:15px;outline:none;border:0.5px solid #DCDCDC;border-radius:3px">{{cours.description}}</textarea>
                    </div>
                    <div class="mb-3 w-75">
                        <select name="categorie" id="" class="form-select mb-3" required>
                            {% for c in categories %}
                            {% if c.id == cours.categorie.id %}
                            <option value="{{cours.categorie.id}}" selected>{{cours.categorie}}</option>
                            {% else %}
                            
                            <option value="{{c.id}}">{{c|capfirst}}</option>
                            {% endif %}
                        {% endfor %}                        
                    </select>                    
                    </div>
                    <div class="mb-3 w-75">
                        <select class="form-select" multiple  name="tag">
                            {% for i in tags.all %}
                                
                                    {% if i in cours.tag.all %}
                                    <option value="{{i.id}}" selected>{{i}}</option>
                                    {% else %}
                                    <option value="{{i.id}}" >{{i}}</option>
                                    {% endif %}
                          {% endfor %}
                        </select>                    
                    </div>
                    <div class="mb-3 w-75">
                        <select name="level" id="" class="form-select mb-3">
                            {% if cours.level == 'beginner' %}
                            <option value="beginner" selected>Beginner</option>
                            <option value="intermediate">intermediate</option>
                            <option value="advanced">advanced</option>
                            {% elif cours.level == 'intermediate' %}
                            <option value="beginner" >Beginner</option>
                            <option value="intermediate" selected>intermediate</option>
                            <option value="advanced">advanced</option>
                            {% elif cours.level == 'advanced' %}
                            <option value="beginner" >Beginner</option>
                            <option value="intermediate" >intermediate</option>
                            <option value="advanced" selected>advanced</option>
                            {% else %}
                            <option value="beginner" >Beginner</option>
                            <option value="intermediate" >intermediate</option>
                            <option value="advanced" >advanced</option>
                            {% endif %}
                          </select>                    
                    </div>
                    <div class="mb-3 w-75">
                       <button class="btn btn-secondary w-100" type="submit">Save</button>                   
                    </div>
                   
                
                </div>

                <div class="text-center">
                    <video width=540 controls>
                        <source src="{{cours.video.url}}" type="video/mp4">
                    </video>
                    <div class="mb-3 mt-5 w-75">
                        <label for="" class="float-start">Prix :</label>
                   <input type="number" class="form-control" name="prix" placeholder="Price Course 0.00$ " value="{{cours.prix}}">
                    </div>
                    <div class="mb-3 w-75">
                        <label for="" class="float-start">Duration :</label>
                        <input type="number" class="form-control" name="duration" placeholder="Duration Course " value="{{cours.duration}}">
                    </div>
                    <div class="mb-3 w-75 border p-2">
                        
                        {{f.cover}}           
                    </div>
                    
                </div>
                
            
            
            </div>
            
        </div>
        <div class="mb-3 w-75 border p-5 bg-white">
                        <label for="formFileSm" class="form-label fs-2">Update your course video :</label><br>
                        {{f.video}}
                    </div>
    </form>
        <!-- Color System -->
        

        </div>
</div>

{% endblock content %}