{% extends 'base/etudiant/navProfile.html' %}
{% block content %}
{% load static %}
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg-4">
                    <div class="card card-profile"> <img src="{% static 'profile/assets/img/cover.png' %}" alt="Image placeholder" class="card-img-top">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image"> <a href="#"><section style="width:100%;background-color:white;height:100%"> <img src="{{etd.photo.url}}" class="rounded-circle"></section> </a> </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between"> <a href="{% url 'logoutprof' %}" class="btn btn-sm mr-4 btn-default">Logout</a> <a href="{% url 'updateprofile' %}" class="btn btn-sm float-right btn-warning" style="background-color: #06bbcc !important;border:none;">Edit Profile</a> </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center">
                                        <div> <span class="heading">{{nbE}}</span> <span class="description">Course Enrolled</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h5 class="h3"> {{etd.nom}}<span class="font-weight-light">, {{etd.datenaissence}}</span> </h5>
                                <h5 class="font-weight-300"> {{etd.NiveauEtudiant}} </h5>
                                <h5 class="h5 mt-4"> {{etd.bio}} </h5>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Progress</h6>
                            <h5 class="h3 mb-0">Your Courses</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Courses</th>
                                            <th scope="col">Titre</th>
                                            <th scope="col">Enseignant</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if crs %} 
                                {% for c in crs %}
                                        <tr> 
                                             <td><img src="{{c.cours.cover.url}}" alt="" width=100px> </td>
                                             <th scope="row"> {{c.cours}} </th>  
                                             <td>{{c.cours.Enseignant}}</td>
                                             <td><a href="{% url 'ViewCourse' c.cours.id %}">Start Course</a></td>
                                        </tr> 
                            {% endfor %}
                            {% else %}
                                        <td colspan="4" class='text-center text-muted'> No Course Enrolled</td>
                            
                            {% endif %}
                                    </tbody>
                                </table>
                           
                        </div>
                    </div>
                </div>
            </div>
           
        </div> <!-- Footer -->
       
        {% endblock content %}