{% extends 'base/etudiant/navProfile.html' %}
{% block content %}
<div class="col-lg-10 m-3">
    <div class="card">
        <div class="card-header bg-transparent">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Change Password</h6>
            <h5 class="h3 mb-0">Update</h5>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
            <div class="col-lg-4 mb-3">
                <label for="">Old Password</label>
                {{form.old_password}}
             </div>
             <div class="col-lg-4 mb-3">
                <label for="">new password</label>
               {{form.new_password1}}
             </div>
             <div class="col-lg-4 mb-3">
                <label for="">confirm new password</label>
               {{form.new_password2}}
             </div>
             <div class="col-lg-4 mb-3">
                 <button type="submit" class="btn btn-info w-100">Save</button>
             </div>
            </form>
            <h3>{{form.errors}}</h3>
        </div>
    </div>
</div>
{% endblock content %}